<style>

.axis path,
.axis line {
    fill: none;
    stroke: #AAAAAA;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #999;
}
.tick text {
    fill: #666;
    font-family: "Helvetica Neue";
    font-weight: lighter;
}
text.label {
    fill: #333;
    font-family: "Helvetica Neue";
    font-weight: normal;
}

.area {
    fill: steelblue;
}


</style>

<div class="container">
  <div class="page-header" id="StoryGraphHeader">
    <h1>
    Story Life
    </h1>
  </div>
</div>

<div class="container">
  <div class="row">

    <div id="StoryLifespanGraph" class="md-12">

    </div>

  </div>
</div>
