<div class="panel panel-default">
  <div class="panel-heading">Segmentize Text</div>
  <div class="panel-body">

    <h4>Sentences</h4>
    <ol>
      <li ng-repeat="text in query.storyOriginSentences">{{text}}</li>
    </ol>

    <h4>Quoted fragments</h4>
    <ol>
      <li ng-repeat="text in query.storyOriginQuoted">{{text}}</li>
    </ol>

    <h4>Filtered segments</h4>
    <table class="table table-condensed table-bordered">
      <tr ng-repeat="segment in query.storyOriginSegments" ng-class="{'danger': !segment.is_important}">
        <td>{{segment.id}}</td>
        <td>
          {{segment.text}}
        </td>
        <td style="font-family:monospace;">
          {{segment.tokens.join(' ')}}
        </td>
        <td>{{segment.tk_size}}</td>
        <td>{{segment.tx_size}}</td>
        <td>{{segment.is_important}}</td>
      </tr>
    </table>


    <br/>
    <button type="button" class="btn btn-success" ng-click="Segmentize()">
        Segmentize
    </button>


  </div>
</div>

<br/>
