.container {
    margin-right: 50px;
    margin-left:  50px;
    width: auto;
    min-width: 0;
}


.taggedTextPassive {
    cursor: normal;
}

.taggedTextSelected {
    cursor: pointer;
    background: #ffb7b7;
}

.taggedTextActive {
    cursor: pointer;
    background: rgb(255, 248, 225);
    padding: 0 3px 0 3px;
    border-radius: 3px;
}

.taggedTextActive:hover {
    background: rgb(255, 245, 155);
    border: 0.8px solid #AEAEAE;
    box-shadow: 0 0 5px #cccccc;
}

.table > tbody > tr.warning > td {
    background: #fff2a8;
}

.table > tbody > tr.danger > td {
    background: #ffb7b7;
}