#body {
    min-height: 560;
    min-width: 1400;
}
/*   */

.Component {
    border: black 1px solid;
    height:236px;
    margin-bottom: 16px;
}


/*
*/

#ClientBarCenter, #ArticlesTableComponent, #AuthorsTableComponent, #SourcesTableComponent {
    overflow:   scroll;
    overflow-y: auto;
    overflow-y: scroll;
}

#RightBar, #LeftBar {
    padding-top: 16px;
}

#RightBar, .Component {
    margin-bottom: 8px;
    height:226px;
}

#TextFilter {
    margin-bottom: 8px;
}


#ClientBarCenter {
}

#HeadContainer {
    margin-right: 0;
    margin-left:  0;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(222,222,222,1);
    -moz-box-shadow: 0px 4px 20px 0px rgba(222,222,222,1);
    box-shadow: 0px 4px 20px 0px rgba(222,222,222,1);
}

#HeatmapComponent {
    padding:8px;
    /*background: #eee;*/
}
