<div id="DocumentContentTitle">
    <h2 class="MdSerif">
        <a target="_blank"
           href="{{central.url}}"
           class="tip-tooltip"
           data-toggle="tooltip"
           data-placement="left"
           title="Open original">
           <span class="glyphicon glyphicon-link "></span>
        </a>
        {{central.title}}
    </h2>
</div>


<div id="DocuementContentByline" class="MdSerif">
    <span ng-show="central.sources.length">{{central.sources[0]}}<br/></span>
    <span ng-show="central.authors.length">by {{central.authors.join(", ").ToTitleCase()}}<br/></span>
    <span ng-show="central.pubDatePretty">published on {{central.pubDatePretty}}<br/></span>
    <br/>
</div>


<div>

    <p ng-repeat="paragraphFragments in bodyFragments" class="text-font-serif">
        <span ng-repeat="fragment in paragraphFragments" ng-class="{taggedTextPassive: !fragment.extra.tagged, taggedTextActive: fragment.extra.tagged && !fragment.isSelected && !fragment.isRelated, taggedTextSelected: fragment.extra.tagged && fragment.isSelected, taggedTextRelated: fragment.extra.tagged && fragment.isRelated}" style="font-size:18px;"><span class="pop-over" data-content="{{fragment.RenderPopOver()}}" id="fragment_{{fragment.extra.taggedCounter}}" title="Fragment #{{fragment.extra.taggedCounter}}" ng-show="fragment.extra.tagged" data-placement="top" ng-click="SelectEntity(fragment.gid)">{{fragment.name}} </span><span ng-show="!fragment.extra.tagged">{{fragment.name}}</span><span ng-show="fragment.extra.tagged"></span><span ng-show="fragment.extra.tagged" class="text-normal-sans" style="font-size:9px;vertical-align:super;">{{fragment.ref.article.length}}</span></span>
    </p>

</div>
