<!-- Author: Vova Zaytsev <zaytsev@usc.edu> -->
<!DOCTYPE html>
<html lang="en" ng-app="MdApp">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Vova Zaytsev <zaytsev@usc.edu>">

    <!-- Google Font -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Gentium%20Book%20Basic">

    <title>Lucid Ai &alpha;</title>

    <!-- Bootstrap -->
    <link href="/webapp/vendor/bs/css/bootstrap.css" rel="stylesheet">

    <!-- NV3 -->
    <link href="/webapp/vendor/nv3/nv.d3.min.css" rel="stylesheet">

    <!-- Cal-Heatmap -->
    <link href="/webapp/vendor/cal-heatmap/cal-heatmap.css" rel="stylesheet">

    <!-- NLCD -->
    <link href="/webapp/css/custom.css" rel="stylesheet">
    <link href="/webapp/css/client.css" rel="stylesheet">
    <link href="/webapp/css/layout.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.png">

    <!-- Java Script -->
    <script src="/webapp/vendor/angular/angular.min.js"></script>

  </head>

  <body id="body">

    <div id="wrap" ng-view></div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">
          <small>
            2015 &copy; Lucid Ai |
            <a href="http://zaycev.github.io/">Vova Zaytsev</a> zaytsev@usc.edu,
            <a href="http://ovchinnikova.me">Katya Ovchinnikova</a> e.ovchinnikova@gmail.com
          </small>
        </p>
      </div>
    </div>

    <!-- Some JS libs -->
    <script src="/webapp/vendor/jquery-2.1.0.min.js"></script>
    <script src="/webapp/vendor/d3.min.js"></script>
    <script src="/webapp/vendor/nv3/nv.d3.min.js"></script>
    <script src="/webapp/vendor/bs/js/bootstrap.min.js"></script>
    <!-- <script src="/webapp/vendor/cal-heatmap/cal-heatmap.min.js"></script>-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>

    <!-- Angular libs -->
    <script src="/webapp/vendor/angular/angular-route.min.js"></script>
    <script src="/webapp/vendor/angular/angular-cookies.min.js"></script>
    <script src="/webapp/vendor/angular/angular-sanitize.min.js"></script>
    <script src="/webapp/vendor/angular/angular-nvd3.min.js"></script>

    <!-- Libs -->
    <script src="/webapp/js/lib/story-api.js"></script>
    <script src="/webapp/js/lib/story-index.js"></script>
    <script src="/webapp/js/lib/story-layout.js"></script>
    <script src="/webapp/js/lib/story-network.js"></script>
    <script src="/webapp/js/lib/story-timespan.js"></script>
    <script src="/webapp/js/lib/story-heatmap.js"></script>
    <script src="/webapp/js/lib/story-entities.js"></script>

    <!-- App -->
    <script src="/webapp/js/app.js"></script>
    <script src="/webapp/js/api.js"></script>
    <script src="/webapp/js/controller.js"></script>

  </body>
</html>
