<!-- Author: Vova Zaytsev <zaytsev@usc.edu> -->
<!DOCTYPE html>
<html lang="en" ng-app="NlcdClient">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>News Life Cycle Detector</title>

    <!-- CSS -->
    <link href="webapp/vendor/bs/css/bootstrap.css" rel="stylesheet">
    <link href="webapp/css/custom.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.png">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/vendor/html5shiv.js"></script>
      <script src="/static/js/vendor/respond.min.js"></script>
    <![endif]-->

    <!-- Java Script -->
    <script src="webapp/js/vendor/angular.min.js"></script>

  </head>

  <body>


    <div id="wrap" ng-view>

    </div>
    
    <br/>
    
    <div id="footer">
      <div class="container">
        <p class="text-muted">
          <small>
            2014 &copy; Mediator Project | 
            <a href="http://zaycev.github.io/">Vova Zaytsev</a> zaytsev@usc.edu,
            <a href="http://ovchinnikova.me">Katya Ovchinnikova</a> e.ovchinnikova@gmail.com
          </small>
        </p>
      </div>
    </div>

    <!-- Angular libs -->
    <script src="webapp/js/vendor/angular-route.min.js"></script>
    <script src="webapp/js/vendor/angular-cookies.min.js"></script>
    <script src="webapp/js/vendor/angular-sanitize.js"></script>

    <!-- Other JS libs -->
    <script src="webapp/js/vendor/d3.min.js"></script>
    <script src="webapp/js/vendor/jquery-2.1.0.min.js"></script>
    <script src="webapp/vendor/bs/js/bootstrap.min.js"></script>

    <!-- Angular web app -->
    <script src="webapp/js/app.js"></script>
    <script src="webapp/js/api/api-factory.js"></script>
    <script src="webapp/js/client/client-controller.js"></script>
    <script src="webapp/js/client/story-graph.js"></script>

  </body>
</html>