<div id="LeftBar" class="ClientBar">
    <div id="LeftPanel_1" class="BarPanel LeftBarPanel">
        <div id="NetworkComponent" class="Component">
            <code>network.html</code>
        </div>
    </div>
    <div id="LeftPanel_2" class="BarPanel LeftBarPanel">
        <div id="TimespanComponent" class="Component">
            <code>timespan.html</code>
        </div>
    </div>
    <div id="LeftPanel_3" class="BarPanel LeftBarPanel">
        <div id="HeatmapComponent" class="Component">
            <code>heatmap.html</code>
        </div>
    </div>
</div>