<div id="RightBar" class="ClientBar">

    <div id="TextFilter">
        <input placeholder="Filter related entities"
               type="search"
               class="form-control input-sm"
               ng-model="filterQuery">
    </div>

    <div id="RightPanel_1" class="BarPanel RightBarPanel">
        <div id="ArticlesTableComponent" class="Component TableComponent">
            <div ng-include="'/webapp/partials/client/views/table_articles.html'">
            </div>
        </div>
    </div>

    <div id="RightPanel_2" class="BarPanel RightBarPanel">
        <div id="AuthorsTableComponent" class="Component TableComponent">
            <div ng-include="'/webapp/partials/client/views/table_authors.html'">
            </div>
        </div>
    </div>

    <div id="RightPanel_3" class="BarPanel RightBarPanel">
        <div id="SourcesTableComponent" class="Component TableComponent">
            <div ng-include="'/webapp/partials/client/views/table_sources.html'">
            </div>
        </div>
    </div>

</div>
