<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br/>
    </div>
  </div>
</div>


<div class="container" id="ClientBody">

  <div class="row">

    <div id="ClientBarLeft" class="col-md-3">
      <div ng-include="'/webapp/partials/client/bar/left.html'"></div>
    </div>

    <div id="ClientBarCenter" class="col-md-6">
      <div ng-include="'/webapp/partials/client/bar/center.html'"></div>
    </div>

    <div id="ClientBarRight" class="col-md-3">
      <div ng-include="'/webapp/partials/client/bar/right.html'"></div>
    </div>

  </div>

</div>
